.page-templatea-about,
.about-menu {
  position: fixed;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16), 0 1px 6px rgba(0, 0, 0, .23);
}

.logged-in {
  .about-menu {
    @media all and (max-width: 330px) {
      padding-bottom: 20px;
    } // margin-top: 33px;
    // @media all and (max-width: 784px) {
    //   margin-top: 46px;
    // }
    position: fixed;
    top: 60px !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .16),
    0 1px 6px rgba(0, 0, 0, .23);
  }
  padding-top: 60px !important;
  .about-content-wrap {
    margin-top: 100px;
    @include eight {
      margin-top: 50px;
    }
  }
}

.page-template-about {
  padding-top: 87px;
  .about-content-wrap {
    margin-top: 95px;
    @include eight {
      margin-top: 58px;
    }
  }
  h1 {
    letter-spacing: 2px;
  }
  .hentry {
    display: none;
  }
  .entry-title {
    display: none;
  }
  .about-wrapper {
    .about-menu {
      position: fixed;
      top: 109px;
      justify-content: center;
      width: 100%;
      height: 100px;
      background: $color__green;
      align-items: center;
      display: flex;
      height: 100px;
      @include eight {
        height: 60px;
      }
      ul {
        margin: 0 1%;
        padding-left: 0 !important;
        margin-top: 20px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        @include eight {
          margin-top: 0;
          justify-content: flex-end;
          margin-right: 3rem;
        }
        @include desktop {
          margin-right: 6.5rem;
        }
        li {
          text-transform: uppercase;
          list-style: none;
          margin: 0 8px;
          color: #fff;
          font-weight: 300;
        }
      }
      a {
        text-decoration: none;
      }
    }
    .banner-section {
      height: 500px;
      @include desktop {
        height: 475px;
      }
      @media all and (min-width: 1450px) {
        height: 675px;
      }
      width: 100%;
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../assets/Stock_Photos/pwc-about-optimized.jpg');
      color: $color__text-light;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; // background-position: center -50px;
      // background-attachment: fixed;
      &-img-wrapper {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      h1 {
        width: 60%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .about-our-company {
      background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left no-repeat;
      background-attachment: fixed;
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      @include eight {
        background-size: 100% 100%;
      }
      h1 {
        color: $color__grey-dark;
        font-family: $font__main;
        margin-bottom: 0;
      }
      p {
        text-align: center;
        max-width: 75%;
        color: $color__grey-dark;
        font-family: $font__main;
      }
    }
    .about-our-vision {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      @include eight {
        flex-direction: row;
      }
      .our-vision-text {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        flex-basis: 40%;
        background: $color__background-grey;
        order: 2;
        @include eight {
          order: 1;
        }
        .our-vision-text-wrapper {
          color: $color__grey-dark;
          height: 300px;
          width: 300px;
          max-height: 200px;
          .about-vision {
            display: block;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
        }
      }
      .our-vision-image {
        order: 1;
        flex-basis: 60%;
        max-height: 400px;
        @include eight {
          order: 2;
        }
        img {
          height: auto;
          width: auto;
          @include eight {
            max-height: 400px;
            min-height: 400px;
            width: 100%;
          }
        }
      }
    }
    .about-team {
      min-height: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      h1 {
        color: $color__grey-dark;
      }
      .about-team-para {
        max-width: 75%;
        p {
          text-align: center;
          color: $color__grey-dark;
        }
      }
      .team-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        padding: 20px 0;
        @include eight {
          justify-content: space-between;
        }
        .individual-team-member {
          margin: 10px 10px;
          max-width: 350px;
          min-width: 350px;
          max-height: 200px; //150
          min-height: 200px;
          overflow: hidden;
          display: flex;
          transition: all 0.5s ease;
          @include tablet {
            max-width: 500px;
            min-width: 500px;
          }
          @include eight {
            flex-basis: 50%;
            max-width: 335px;
            min-width: 335px;
          }
          @include nine-fifty {
            max-width: 400px;
            min-width: 400px;
          }
          @include desktop {
            max-width: 450px; //450, 20 margin
            min-width: 450px;
            margin: 10px 0px;
          }
          @include large {
            max-width: 530px;
            min-width: 530px;
            margin: 10px 0;
          }
          .team-headshot {
            flex-basis: 30%;
            max-height: 200px !important;
            min-width: 140px;
            img {
              max-height: 200px !important;
              min-height: 200px !important;
              height: 200px !important;
            }
          }
          .team-member-info {
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            margin: 3px 2%;
            max-height: 172px;
            overflow: hidden;
            @include tablet {
              max-height: 162px;
            }
            h2 {
              margin: 0;
              color: $color__navy;
              font-size: 16px;
              letter-spacing: 2px;
              @include tablet {
                font-size: 20px;
              }
            }
            .position-container {
              display: flex;
              justify-content: space-between;
              color: $color__text-light-grey;
              margin-bottom: 50px;
              letter-spacing: 2px;
              i {
                margin-top: 5px;
                font-size: 20px;
                color: $color__navy;
                cursor: pointer;
              }
            }
            .about-bio {
              margin-top: 14px;
            }
          }
        }
      }
    }
    .about-alliances {
      background: $color__background-grey;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        padding-top: 15px;
        max-width: 80%;
        text-align: center;
      }
      .alliance-wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        padding: 20px 0;
        .alliance-logo {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          max-height: 90px;
          max-width: 220px;
          min-height: 90px;
          min-width: 220px;
          margin: 15px 10px; // border: 1px solid black;
          @include medium {
            flex-basis: 25%;
          }
          img {
            max-height: 85px;
            max-width: 215px;
            margin: 0 auto;
            align-self: center;
          }
        }
      }
    }
    .facilities-technology {
      border: 1px solid black;
      min-height: 700px;
      .facilities {
        display: flex;
        flex-direction: column;
        background: $color__navy;
        @include eight {
          max-height: 500px;
          min-height: 500px;
          flex-direction: row;
        }
        .facilities-text {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          color: #fff;
          @include eight {
            justify-content: flex-start;
            padding-left: 8%;
          }
          @include large {
            align-items: center;
          }
          .facilities-text-wrapper {
            height: 80%;
            width: 58%;
            padding: 30px 0;
            @include eight {
              width: 80%;
            }
            @include large {
              width: 60%;
            }
          }
        }
        .facilities-image {
          flex-basis: 50%;
          overflow: hidden;
          img {
            max-height: 700px;
            min-height: 500px;
            object-fit: cover;
          }
        }
      }
      .technologies {
        background: $color__navy;
        display: flex;
        flex-direction: column;
        @include eight {
          max-height: 500px;
          min-height: 500px;
          flex-direction: row;
        }
        .technologies-image {
          flex-basis: 50%;
          max-height: 500px;
          order: 1;
          overflow: hidden;
          @include eight {
            order: 2;
          }
          img {
            max-height: 700px;
            min-height: 500px;
            object-fit: cover;
          }
        }
        .technologies-text {
          order: 2;
          color: #fff;
          display: flex;
          justify-content: center;
          flex-basis: 50%;
          @include eight {
            order: 1;
          }
          @include large {
            align-items: center;
          }
          .technologies-text-wrapper {
            margin-top: 1.5rem;
            padding: 30px 0;
            height: 80%;
            width: 58%;
            @include eight {
              width: 80%;
              padding: 0;
            }
            @include large {
              width: 60%;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}