.page-template-about {
  .entry-title {
    display: none;
  }
  .about-wrapper {
    margin-top: 90px; // will apply this with a standard height across all pages
    .about-menu {
      border: 1px solid black;
      width: 100%;
      height: 80px;
      background: green;
    }
    .about-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      width: 100%;
      min-height: 500px;
      background: url('../../assets/Stock_Photos/pwc-about.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 -120px;

      .about-banner-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          height: 100px;
          width: 100px;
        }
        h1 {
          color: #fff;
        }
      }
    }
    .about-our-company {
      width: 100%;
      min-height: 400px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        color: $color__grey-dark;
      }
      p {
        text-align: center;
        max-width: 75%;
        color: $color__grey-dark;
      }
    }
    .about-our-vision {
      width: 100%;
      min-height: 400px;
      display: flex;

      .our-vision-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        background: $color__background-grey;
        .our-vision-text-wrapper {
          color: $color__grey-dark;
          height: 300px;
          width: 300px;

          .about-vision {
            display: block;
            font-size: 30px;
            font-weight: bold;
          }
        }
      }
      .our-vision-image {
        flex-basis: 50%;
        max-height: 400px;
        img {
          max-height: 400px;
          min-height: 400px;
          width: 100%;
        }
      }
    }
    .about-team {
      min-height: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        color: $color__grey-dark;
      }

      .about-team-para {
        max-width: 75%;
        p {
          text-align: center;
          color: $color__grey-dark;
        }
      }

      .team-wrapper {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        width: 90%;
        justify-content: center;

        @include eight {
          justify-content: space-between;
        }

        .individual-team-member {
          margin: 10px 10px;
          max-width: 350px;
          min-width: 350px;
          max-height: 200px; //150
          min-height: 200px;
          overflow: hidden;
          display: flex;
          transition: all 0.5s ease;

          @include tablet {
            max-width: 500px;
            min-width: 500px;
          }

          @include eight {
            flex-basis: 50%;
            max-width: 335px;
            min-width: 335px;
          }

          @include nine-fifty {
            max-width: 400px;
            min-width: 400px;
          }

          @include desktop {
            max-width: 450px; //450, 20 margin
            min-width: 450px;
            margin: 10px 0px;
          }

          @include large {
            max-width: 530px;
            min-width: 530px;
            margin: 10px 0;
          }

          .team-headshot {
            flex-basis: 30%;
            max-height: 200px;
            min-width: 140px;
            border: 1px solid black;
          }
          .team-member-info {
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            margin: 3px 2%;
            max-height: 172px;
            overflow: hidden;

            @include tablet {
              max-height: 162px;
            }

            h2 {
              margin: 0;
              color: $color__navy;
              font-size: 16px;
              @include tablet {
                font-size: 20px;
              }
            }

            .position-container {
              display: flex;
              justify-content: space-between;
              color: $color__text-light-grey;
              margin-bottom: 25px;
              i {
                margin-top: 5px;
                font-size: 20px;
                color: $color__navy;
              }
            }
            .about-bio {
              margin-top: 14px;
            }
            .about-close {
              margin-top: 5px;
              align-self: center;
              i {
                font-size: 20px;
                color: $color__navy;
              }
            }
          }
        }
      }
    }
    .about-alliances {
      border: 1px solid black;
      min-height: 600px;
    }
    .facilities-technology {
      border: 1px solid black;
      min-height: 600px;
    }
  }
}
