// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin button-blue {
  margin: 1rem auto;
  width: 210px;
  padding: 15px 30px;
  font-size: 16px;
  box-shadow: none;
  color: white;
  background-color: $color__navy;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover {
    background-color: darken($color__navy, 5%);
    box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, .19), 0px 10px 13px -8px rgba(0, 0, 0, .23);
  }
}

@mixin button-green {
  margin: 1rem auto;
  width: 210px;
  padding: 15px 30px;
  font-size: 16px;
  box-shadow: none;
  color: white;
  background-color: $color__green;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover {
    background-color: darken($color__green, 5%);
    box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, .19), 0px 10px 13px -8px rgba(0, 0, 0, .23);
  }
}

@mixin button-white {
  // margin: 1rem auto;
  width: 256px;
  padding: 15px 30px;
  font-size: 26px;
  font-weight: 500;
  box-shadow: none;
  color: $color__navy;
  background-color: $color__link;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: darken($color__link, 15%);
    box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, .19), 0px 10px 13px -8px rgba(0, 0, 0, .23);
  }
}

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

@mixin large {
  @media all and (min-width: $large) {
    @content;
  }
}

@mixin medium {
  @media all and (min-width: $medium) {
    @content;
  }
}

@mixin eight {
  @media all and (min-width: 800px) {
    @content;
  }
}

@mixin nine-fifty {
  @media all and (min-width: 950px) {
    @content;
  }
}

@mixin hover-shadow {
  &:hover {
    box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, .19), 0px 10px 13px -8px rgba(0, 0, 0, .23);
  }
}