/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

$transition-duration: 0.5s;
#toggle {
  display: none;
}

.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  box-shadow: 0 1px 6px rgba(0,0,0,.16), 0 1px 6px rgba(0,0,0,.23);
}

.page {
  padding-top: 110px;
}

@media #{all and (max-width: $medium)} {
  .toggle-container .button-toggle {
    position: absolute;
    z-index: 10;
    left: 60%;
    display: inline-block;
    width: 75px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: $transition-duration + 0.1;
    @media all and (max-width: 450px) {
      left: 30%;
    }
  }

  .menu-menu-1-container {
    position: static;
    justify-content: flex-end;
  }
  .menu {
    flex-direction: column;
  }
  .menu > .menu-item {
    display: none;
  }
  .expanded {
    opacity: 1;
  }
  #toggle:checked {
    .toggle-container .button-toggle {
    }
    & ~ .menu-menu-1-container {
      position: absolute;
      top: 45px;
      right: -48px;
      background: white;
      width: 200px;
      display: flex;
      justify-content: center;
      transition: width 0.5s;
    }
    & ~ .menu-menu-1-container .menu {
      padding: 3rem 0;
      @media all and (max-width: 750px) {
        width: 200px;
        align-items: center;
      }
      & > li {
        display: block;
        letter-spacing: 0;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        transition: $transition-duration, opacity 0.1s; // Hiding the lines
        &:before {
          opacity: 0;
          width: 0;
        }
      }
    }
  }
}

.hamburger--slider {
  background: #fff;
  box-shadow: none;
  text-shadow: none;
  border: none;
  @media all and (min-width: 750px) {
    display: none;
  }
}


.login-prompt {
  display: none;
  @media all and (max-width: 750px) {
    display: block;
    margin-right: 2rem;
  }
  button {
    color: #fff;
    background: $color__green;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.investor-nav {
  background: $color__navy;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center; // @media all and (max-width : 680px) {
  // 	justify-content: center;
  // }
  .investor-header-wrapper {
    @media all and (max-width: 750px) {
      display: none;
    }
  }
  .membership-wrapper {
    margin-right: 5%;
    span {
      color: #fff;
      padding-top: 15px;
    }
    .email-password {
      @media all and (max-width: 680px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .swpm-password-input {
        margin: 0 !important;
        @media all and (max-width: 680px) {
          margin: 3px 0 !important;
        }
      }
      .swpm-username-input {
        margin: 0 !important;
        @media all and (max-width: 680px) {
          margin: 3px 0 !important;
        }
      }
      .swpm-login-submit {
        margin: 0 !important;
        font-size: 10px;
        .swpm-login-form-submit {
          font-size: 10px;
          margin-top: 2px;
          padding-bottom: 17px;
          @media all and (max-width: 680px) {
            margin: 3px 0 !important;
            min-width: 215px;
          }
        }
      }
      input {
        min-height: 25px;
        max-height: 25px;
      }
      input::placeholder {
        color: $color__border-input;
        padding-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
      }
    }
  }
}

.nav-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .logo-container {
    width: 100px;
    margin: 10px 0 10px 2rem;
    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 100%;
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 6rem;

    @media all and (max-width: $desktop) {
      margin-right: 3rem;
    }
    
    @media all and (max-width: $tablet) {
      margin-right: 2rem;
    }


    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
      margin: 0 1rem;
      a {
        color: #000;
        text-transform: uppercase;
      }
    }
  }
}

/* Links */

a {
  color: $color__link;
  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  clear: both;
  display: block;
  width: 60%;
  @media all and (max-width: 900px) {
    position: relative;
    width: 80%;
  }
  @media all and (max-width: 750px) {
    width: 30%;
  }

  .current-menu-item > a {
    color: $color__green;
    font-weight: 700;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    .menu-item-163 {
      height: auto !important;    
      & > a {
        @media all and (max-width: 750px) {
          pointer-events: none;  
        }
      }
    }


    ul {
      float: left;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      background: #fff;
      @media all and (max-width: 750px) {
        display: none;
        margin-bottom: 3rem;
        position: relative;
        left: 0;
        top: 1rem;
      }

      li {
        // height: auto;

        a:hover {
          color: $color__green;
        }  
      }
      
      ul {
        left: -999rem;
        top: 0;
      }
      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }
      a {
        width: 200px;
        @media all and (max-width: 750px) {
          width: 150px;
        }
      }
      :hover > a,
      .focus > a {
      }
      a:hover,
      a.focus {
      }
    }
    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;
    &:hover > a,
    &.focus > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }
  .nav-previous {
    float: left;
    width: 50%;
  }
  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
