.page-template-investor-portal {
  .hentry {
    display: none;
  }
  .entry-title {
    display: none;
  }
  .investors-portal-banner {
    @include eight {
      height: 40vw;
    }
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../assets/Stock_Photos/pwc-investors.jpg');
    color: $color__text-light;
    background-size: cover;
    .portal-banner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include eight {
        width: 800px;
      }
      img {
        width: 100px;
      }
      h1 {
        width: 60%;
        margin: 0 auto;
        text-transform: uppercase;

        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        strong {
          font-weight: 700;
        }
      }
    }
  }
  .investors-corporate-presentation {
    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left
      no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include eight {
      background-size: 100% 100%;
    }
    h1 {
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      max-width: 80%;
    }
    .green {
      color: $color__green;
    }
    p {
      max-width: 70%;
      text-align: center;
      margin-bottom: 30px;
    }
    .corporate-download {
      color: #fff;
      background: $color__green;
      box-shadow: none;
      text-shadow: none;
      border: none;
      width: 213px;
      height: 51px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .headed-next {
    padding: 60px 0;
    min-height: 400px;
    background: $color__background-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin-top: 0;
      text-transform: uppercase;
      text-align: center;
      max-width: 80%;
    }
    .green {
      color: $color__green;
    }
    .video-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0;
      margin-bottom: 30px;
      @include desktop {
        flex-direction: row;
      }
      .vid {
        width: 350px;
        margin: 20px 20px;
        height: 175px;
        background: gray;
        border: 1px solid black;
        @include desktop {
          margin: 20px 10px;
          width: 320px;
        }
        @include large {
          width: 350px;
          margin: 20px 20px;
        }
      }
    }
    .portal-view-more {
      color: #fff;
      background: $color__navy;
      box-shadow: none;
      text-shadow: none;
      width: 210px;
      height: 50px;
      font-size: 18px;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .press-releases-wrapper {
    .press-releases-container {
      display: flex;
      flex-direction: column;
      @include desktop {
        flex-direction: row;
      }
    }
  }
  .not-logged-in {
    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left
      no-repeat;
    background-attachment: fixed;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include eight {
      background-size: 100% 100%;
    }
    h1 {
      max-width: 80%;
      text-align: center;
    }
  }
}
