.page-template-front-page {
  .site-branding {
    display: none;
  }
  .banner-section {
    height: 40vw;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/Stock_Photos/pwc-images-home.jpg');
    color: white;
    background-size: cover;
    &-img-wrapper {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  .intro-section {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    &-paragraph {
      width: 50%;
      margin: 0 2rem;
    }
    &-img-wrapper {
      max-width: 150px;
      margin: 1rem 5rem 1rem 1rem;
      img {
        width: 100%;
      }
    }
  }
  .pacwest-difference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-card-wrapper {
      width: 90%;
      margin: 1rem auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 1rem;
      .card {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: #eee;
        &:nth-child(odd) {
          color: white;
          background-color: $color__navy;
        }
        img {
          width: 50px;
          height: 50px;
        }
        p {
          width: 60%;
          text-align: center;
        }
      }
    }
    .learn-more {
      margin: 1rem auto;
      width: 210px;
      padding: 15px 30px;
      font-size: 16px;
      box-shadow: none;
      color: white;
      background-color: $color__navy;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
    .button-blue {
      @include button-blue
    }
  }
  .our-products {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__green;
    color: white;
    &-img-wrapper {
      width: 500px;
      margin: 1rem 1rem 1rem 5rem;
      img {
        width: 100%;
      }
    }
    &-content {
      width: 40%;
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-content-header {
      text-align: center;
    }
    .button-blue {
      @include button-blue
    }
  }
  .investor-portal {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;

      h2 {
        text-align: center;
      }
      &-copy {
        width: 65%;
        margin: 0 auto;
      }
    }

    form {
      width: 85%;
      margin: 0 auto;
      display: grid;
      grid-template-areas: 
              "first second"
              "third fourth"
              "fifth fifth"
                        ;

      input[type="submit"] {
        @include button-blue;
        background-color: $color__green;
      }

      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p:nth-of-type(1) {
        grid-area: first;
      }
      p:nth-of-type(2) {
        grid-area: second;
      }
      p:nth-of-type(3) {
        grid-area: third;
      }
      p:nth-of-type(4) {
        grid-area: fourth;
      }
      p:nth-of-type(5) {
        grid-area: fifth;
      }

    }



  }




  .sub-footer {
    display: flex;
    flex-direction: column;
    height: 60vw;
  }
  .contact-us-today {}
  .faq {}
  .investors {}
}
