.page-template-news {
  .news-h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    @media all and (max-width: $tablet) {
      font-size: 1.5rem;
    }
  }
  .banner-section {
    @include eight {
      height: 40vw;
    }
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/Stock_Photos/pwc-news.jpg');
    color: $color__text-light;
    background-size: cover;
    &-img-wrapper {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    h1 {
      width: 60%;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      strong {
        font-weight: 700;
      }
    }
  }
  .news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news-items-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .news-item {
    width: 90%;
    margin: 0 auto;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-group {
        width: 80%;
        padding: 5px;
        background-color: $color__navy;
        color: white;
        h3 {
          margin: 0;
        }
      }
    }
    &-pdf {
      position: relative;
      right: 5rem;
      padding: 1rem;
      background-color: $color__green;
      color: white;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      @media all and (max-width: 930px) {
        right: 0;
      }
      @media all and (max-width: 480px) {
        left: 2rem;
      }
      a {
        text-decoration: none;
        &:visited,
        &:hover {
          color: white;
        }
      }
    }
    &-body {
      height: 30px;
      overflow: hidden;
    }
    &-expand-link {
      width: 100%;
      text-align: center;
    }
  }
}