.page-template-front-page {
  .front-h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }
  .banner-section {
    @include eight {
      height: 40vw;
    }
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/Stock_Photos/pwc-images-home.jpg');
    color: $color__text-light;
    background-size: cover;
    &-img-wrapper {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    h1 {
      width: 60%;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      @media all and (max-width: 840px) {
        width: 80%;
      }

      strong {
        font-weight: 700;
      }
    }
  }
  .intro-section {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    @media all and (max-width: $tablet) {
      padding: 3rem 0;
      flex-direction: column;
    }

    &-paragraph {
      width: 50%;
      margin: 0 2rem;
      line-height: 30px;
      font-weight: 300;
      @media all and (max-width: $tablet) {
        width: 90%;
      }  
    }
    &-img-wrapper {
      max-width: 150px;
      margin: 1rem 5rem 1rem 1rem;
      @media all and (max-width: $tablet) {
        margin: 1rem;
      }  

      img {
        width: 100%;
      }
    }
  }
  .pacwest-difference {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color__grey-dark;
    h2 {
      &>span {
        color: $color__green;
      }
    }
    &-card-wrapper {
      width: 90%;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      @media all and (max-width: 900px) {
        width: 70%;
        flex-wrap: wrap;
      }  
      @media all and (max-width: 660px) {
        width: 100%;
      }  
      .card {
        max-width: 200px;
        margin: 0 1rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
        @media all and (max-width: 900px) {
          margin: 1rem;
        }

        &:nth-child(odd) {
          color: white;
          background-color: $color__navy;
        }
        div {
          text-align: center;
        }
        img {
          width: 50px;
          height: 50px;
        }
        p {
          // width: 60%;
          margin: 5px auto;
          text-align: center;
          @media all and (max-width: 950px) {
            width: 90%;
          }  
        }
      }
    }
    .learn-more {
      margin: 1rem auto;
      width: 210px;
      padding: 15px 30px;
      font-size: 16px;
      box-shadow: none;
      color: white;
      background-color: $color__navy;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
    .button-blue {
      @include button-blue
    }
  }
  .our-products {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__green;
    color: white;
    @media all and (max-width: 700px) {
      flex-direction: column;
    }
    &-img-wrapper {
      width: 500px;
      margin: 1rem 1rem 1rem 5rem;
      @media all and (max-width: 700px) {
        width: 70%;
        margin: 0 auto;
      }
      @media all and (max-width: 500px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    &-content {
      width: 40%;
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 30px;
      letter-spacing: 1px;
      font-weight: 300;
      @media all and (max-width: 700px) {
        width: 90%;
      }
    }
    &-content-header {
      text-align: center;
    }
    .button-blue {
      @include button-blue
    }
  }
}

.investor-portal {
  padding: 3rem 0;
  background-color: $color__background-screen;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
      color: $color__grey-dark;
    }
    &-copy {
      width: 65%;
      margin: 0 auto;
      @media all and (max-width: 700px) {
        width: 50%
      }
      @media all and (max-width: 550px) {
        width: 90%;
      }
    }
  }

  form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media all and (max-width: 500px) {
      width: 100%;
    }

    label {
      @media all and (max-width: 500px) {
        text-align: center;
      }
    }


    input {
      @media all and (max-width: 500px) {
        width: 90%;
      }
    }

    input[type="submit"] {
      @include button-blue;
      background-color: $color__green;
    }
    p {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ================== Press Releases ================= */

.press-releases-wrapper {
  // background: url('../../assets/XXX.png') bottom left no-repeat;
  // background-size: 100% 100%;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 5vh;
  .button-blue {
    @include button-blue;
    text-align: center;
  }
  a {
    margin: 0 auto;
  }
}

.press-releases-title {
  font-weight: 700;
  color: $color__grey-dark;
  text-align: center;
  margin-bottom: 20px;
  span {
    color: $color__green;
  }
}

.press-releases-container {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  align-items: center;
  @media all and (max-width: 950px) {
    width: 90%;
  }
  @media all and (max-width: 850px) {
    flex-direction: column;
  }
}

.press-release {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 250px;
  width: 70%;
  background-color: $color__navy;
  margin: 2vh;
  padding: 2vh;
  @media all and (max-width: 500px) {
    width: 100%;
  }
  .green-vertical-line {
    background-color: $color__green;
    height: 223px;
    width: 5px;
    position: absolute;
  }
  .pr-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
  }
  h3 {
    font-weight: 100;
    font-size: 22px;
    color: #ffffff;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  span {
    display: inline;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  p {
    position: absolute;
    padding-left: 5%;
    padding-bottom: 40px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.press-release:hover {
  h3 {
    opacity: 0;
  }
  span {
    opacity: 0;
  }
  p {
    opacity: 1;
    font-size: 24px;
  }
}

.press-release:nth-child(2) {
  background-color: $color__background-hr;
  h3 {
    color: $color__text-main; // font-weight: bold;
  }
  span {
    color: $color__text-main;
    font-weight: bold;
  }
  a {
    color: $color__text-main;
    font-weight: bold;
  }
} //=============Sub footer sections===========
//Todo: Add correct photos
.sub-footer {
  display: flex;
  flex-direction: column-reverse;
  @include eight {
    flex-direction: row;
    height: 50vw;
  }
  .sub-footer-text {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
}

.sub-footer-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @include eight {
    width: 50%;
  }
  a {
    height: 100%;
  }
}

.sub-footer-contact-us-today {
  height: 100%; //  Todo: add correct photo
  background-image: url('../../assets/Stock_Photos/pwc-boxes-faq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  h1 {
    font-size: 42px;
    width: 280px;
    @include tablet {
      width: 365px;
    }
  }
  .button-white {
    @include button-white;
    margin-bottom: 55px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }
}

.sub-footer-contact-us-today-line {
  width: 250px;
  height: 6px;
  background-color: #FFFFFF;
  @include medium {
    width: 350px;
  }
}

.sub-footer-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @include eight {
    width: 50%;
  }
  a {
    height: 50%;
  }
  div {
    min-height: 300px;
    @include eight {
      min-height: auto;
    }
  }
}

.sub-footer-faq {
  height: 100%;
  background-image: url('../../assets/Stock_Photos/pwc-boxes-faq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.sub-footer-investors {
  height: 100%;
  background-image: url('../../assets/Stock_Photos/pwc-boxes-investors.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.sub-footer-products {
  height: 100%;
  background-image: url('../../assets/Stock_Photos/pwc-products.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  h1.products-text {
    color: $color__navy;
    -webkit-text-stroke: 1px #fff;
  }
}