/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//globals
.uppercase {
  text-transform: uppercase;
}

.show-full-container {
  max-height: 1000px !important;
  height: auto !important;
  transition: all 2s ease;
}
