.page-template-products {
  // Todo: remove display: none. 
  display: none;
  .banner-section {
    @include desktop {
      height: 475px;
    }
    @media all and (min-width: 1450px) {
      height: 675px;
    }
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/Stock_Photos/pwc-products-optimized.jpg');
    color: $color__text-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; // background-position: center -50px;
    // background-attachment: fixed;
    &-img-wrapper {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    h1 {
      width: 60%;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
  .product-a-intro-section,
  .product-b-intro-section,
  .product-c-intro-section {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    &-paragraph {
      width: 50%;
      margin: 0 2rem;
      line-height: 30px;
      color: $color__navy;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      @media all and (max-width: $medium) {
        width: 70%;
      }
    }
  }
  .product-a-intro-section {
    &-paragraph {
      font-weight: 400;
    }
  }
  .product-b-intro-section,
  .product-c-intro-section {
    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    @media all and (max-width: $medium) {
      background: #fff;
    }
    &-paragraph {
      color: $color__grey-dark;
      text-transform: none;
    }
  }
  .product-main-section {
    .product {
      display: flex;
      align-items: center;
      @media all and (max-width: $medium) {
        flex-direction: column;
      }
      &-info {
        width: 50%;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $color__green;
        color: white;
        @media all and (max-width: $medium) {
          width: 100%;
          padding: 3rem 0;
        }
      }
      &-info-header {
        width: 40%;
        margin: 0 auto;
        @media all and (max-width: $medium) {
          width: 85%;
        }
        * {
          margin: 0;
          text-transform: uppercase;
        }
        .product-subtitle {
          font-weight: 300;
        }
        .product-title {
          font-size: 2rem;
        }
      }
      &-info-description {
        width: 40%;
        margin: 0 auto;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: 300;
        @media all and (max-width: $medium) {
          width: 85%;
        }
      }
      &-img-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @media all and (max-width: $medium) {
          width: 100%;
        }
        img {
          width: 100%;
          @media all and (max-width: $medium) {
            width: 80%;
          }
        }
      }
    }
  }
}