.page-template-investors {
  .investor-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    opacity: 0.6;
  }
  .banner-section {
    @include eight {
      height: 40vw;
    }
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../assets/Stock_Photos/pwc-investors.jpg');
    color: $color__text-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-attachment: fixed;
    &-img-wrapper {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    h1 {
      width: 60%;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      strong {
        font-weight: 700;
      }
    }
  }
  .investor-login {
    padding: 3rem 0;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    h2 {
      font-size: 2rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      max-width: 80%;
      text-align: center;
    }
    &-desc {
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 3px;
      cursor: pointer;
      p {
        margin: 0;
        font-weight: 300;
      }
      strong {
        color: $color__green;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .portal-pop-up {
      position: fixed;
      top: 150px;
      display: flex;
      height: 400px;
      width: 300px;

      @include medium {
        width: 700px;
      }

      .pop-up-close {
        position: absolute;
        top: 10px;
        left: 10px;
        color: black;
        font-size: 22px;
        cursor: pointer;
        @include medium {
          color: #fff;
        }
      }

      .pop-up-image {
        display: none;
        justify-content: center;
        align-items: flex-end;
        background: url('../../assets/Stock_Photos/pwc-images-home.jpg');
        background-size: cover;
        background-position: -350px;
        background-repeat: no-repeat;
        flex-basis: 50%;
        width: 350px;
        @include medium {
          display: flex;
        }
        img {
          margin-bottom: 70px;
          align-self: center;
          width: 200px;
        }
      }
      .pop-up-form {
        height: 450px;
        background: #fff;
        h2 {
          font-size: 22px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-basis: 50%;

        @include medium {
          flex-basis: 50%;
          height: 392px;
        }

        .wpcf7 {
          form {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          input {
            max-width: 250px;
          }
          p {
            margin: 4px 0;
            font-size: 12px;
            text-transform: uppercase;
          }
          .wpcf7-submit {
            align-self: center;
            color: #fff;
            background: $color__green;
            box-shadow: none;
            text-shadow: none;
            text-transform: uppercase;
            min-width: 175px;
            min-height: 40px;
            margin-top: 10px;
            letter-spacing: 2px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
