.error404 {
  .error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;

    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left
      no-repeat;
    background-attachment: fixed;
    @include eight {
      background-size: 100% 100%;
    }

    .page-header {
      max-width: 80%;
      h1 {
        text-align: center;
      }
    }

    .page-content {
      max-width: 80%;

      p {
        text-align: center;
      }
      .search-form {
        @include search-form;
      }
    }
  }
}

.search {
  .site-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left
      no-repeat;
    background-attachment: fixed;
    @include eight {
      background-size: 100% 100%;
    }
    .page-header {
      text-align: center;
    }

    .article-wrapper {
      article {
        min-height: 100px;
        background: $color__navy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 4px solid $color__green;
        margin: 20px 10%;

        .entry-header {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 80%;
          h2 {
            text-align: center;
          }
          a {
            color: #fff;
            text-decoration: none;
            text-align: center;
            max-width: 80%;
          }

          a:hover {
            text-decoration: underline;
          }
        }
        .entry-summary {
          color: #fff;
          max-width: 80%;
          text-align: center;
        }
      }
    }
  }
}

.search-no-results {
  .page-content {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background: url('../../assets/Images:Graphics/pwc-light-bg.png') bottom left
      no-repeat;
    background-attachment: fixed;
    @include eight {
      background-size: 100% 100%;
    }

    p {
      font-weight: 800;
      font-size: 20px;
      text-align: center;
      max-width: 80%;
    }

    .search-form {
      @include search-form;
    }
  }
}
